* {
    background-color: black;
}
::selection{
    background: rgb(0, 195, 0);
    color: black;
}

@font-face {
    font-family: 'MonaspaceArgon';
    src:url('fonts/MonaspaceArgon-Regular.woff') format('woff'),
        url('fonts/MonaspaceArgon-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MonaspaceArgon';
    src:url('fonts/MonaspaceArgon-Bold.woff') format('woff'),
        url('fonts/MonaspaceArgon-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MonaspaceArgon';
    src:url('fonts/MonaspaceArgon-Italic.woff') format('woff'),
        url('fonts/MonaspaceArgon-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'MonaspaceArgon';
    src:url('fonts/MonaspaceArgon-BoldItalic.woff') format('woff'),
        url('fonts/MonaspaceArgon-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Jersey15';
    src:url('fonts/Jersey15.ttf') format('opentype');
}

@media (max-width: 800px) {
    * {
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
    .choice1 {
        position: relative;
        float: center;
        width: 100%;
    }
    .choice2 {
        position: relative;
        float: center;
        width: 100%;
    }
    .box {
        width: 100%;
    }
    .container {
        padding-left: 0%;
        padding-right: 0%;
    }
    img {
        width: 100%;
        height: auto;
        padding: 2%;
    }
    h1 {
        font-family: "Jersey15";
        font-size: 2.5rem;
        padding: 0%;
        margin-bottom: 0%;
        color: #00c300;
    }
    h2 {
        font-family: "Jersey15";
        padding: 0%;
        font-size: 1.25rem;
        margin-top: 0%;
        margin-bottom: 0%;
        color: rgb(0, 100, 0);
    }
    h3 {
        font-family: "MonaspaceArgon";
        font-size: 1rem;
        text-align: left;
        color: rgb(0, 195, 0);
    }
    h4 {
        font-family: "Jersey15";
        padding: 0%;
        font-size: 1rem;
        margin-top: 0%;
        margin-bottom: 0%;
        color: rgb(0, 100, 0);
    }
    p {
        font-family: "MonaspaceArgon";
        font-weight: normal;
        font-size: 0.7rem;
        text-align: left;
        color: rgb(0, 195, 0);
        line-height: 1.5;
    }
}

@media (min-width: 801px) {
    * {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    img {
        width: 600px;
        height: auto;
        padding: 2%;
    }
    h1 {
        font-family: "Jersey15";
        font-size: 3rem;
        padding: 0%;
        margin-bottom: 0%;
        color: rgb(0, 195, 0);
    }
    h2 {
        font-family: "Jersey15";
        padding: 0%;
        font-size: 1.5rem;
        margin-top: 0%;
        margin-bottom: 0%;
        color: rgb(0, 100, 0);
    }
    h3 {
        font-family: "MonaspaceArgon";
        font-weight: bold;
        font-size: 1.25rem;
        text-align: left;
        color: rgb(0, 195, 0);
    }
    h4 {
        font-family: "Jersey15";
        padding: 0%;
        font-size: 1.25rem;
        margin-top: 0%;
        margin-bottom: 0%;
        color: rgb(0, 100, 0);
    }
    p {
        font-family: "MonaspaceArgon";
        font-size: 0.8rem;
        text-align: left;
        color: rgb(0, 195, 0);
        line-height: 1.5;
    }

    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

i {
    font-style: italic;
    padding: 0%;
}
b {
    font-weight: bold;
    padding: 0%;
}

a.button, button {
    font-family: "Jersey15";
    font-size: 1.25rem;
    cursor: pointer;
    color: black;
    background-color: rgb(0, 195, 0);
    border: solid;
    border-radius: 5px;
    border-color: rgb(0, 195, 0);
    border-width: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 35px;
    transition: 0.4s ease;
    text-decoration: none;
    margin: 5%;
}

button:hover, a.button:hover {
    color: rgb(0, 195, 0);
    background-color: black;
    
}

.choice1 {
    font-family: "Jersey15";
    font-size: 1.25rem;
    text-align: right;
    position: relative;
    float: left;
    width: 50%;
    padding: 3%;
    padding-bottom: 10%;
    color: rgb(0, 195, 0);
}
.choice2 {
    font-family: "Jersey15";
    font-size: 1.25rem;
    text-align: left;
    position: relative;
    float: right;
    width: 50%;
    padding: 3%;
    padding-bottom: 10%;
    color: rgb(0, 195, 0);
}
.choice1:hover, .choice2:hover {
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

/* .chosen1, .chosen2 {
    position: relative;
    text-align: center;
    display: none;
}

#choice1Placeholder {
    display: none;
    position: relative;
    float: left;
    width: 50%;
    padding: 3%;
    padding-bottom: 0%;
}
#choice2Placeholder {
    display: none;
    position: relative;
    float: right;
    width: 50%;
    padding: 3%;
    padding-bottom: 0%;
}


.day1choice1text, .day1choice2text {
    width: 100%;
}

.day1choice1:hover, .day1choice2:hover {
    font-style: bold;
    cursor: pointer;
}
*/


.titlecontainer {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.container {
    position: relative;
}

.slides {
    display: none;
}

.box {
    border: 2px solid rgb(0, 195, 0);
    padding: 5%;
    background-color: black;
    border-radius: 20px;
}

.judge {
    font-family: "Jersey15";
    cursor: pointer;
    color: black;
    background-color: rgb(0, 195, 0);
    border: solid;
    border-color: rgb(0, 195, 0);
    border-width: 3px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 35px;
    transition: 0.4s ease;
}

.judge:hover {
    background-color: black;
    color: rgb(0, 195, 0);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: slide;
    animation-duration: 1.5s;
}

@keyframes slide {
    from {
        opacity: .5;
        transform: translateX(30px);}
    to {
        opacity: 1;
        transform: translateX(0);}
}

/* to hide the text so that it opens when you finish judging */
#day1text {display: none;}
#day1choice1text {display: none;}
#day1choice2text {display: none;}

#placeholder {
    display: none;
    height: 35px;
}

.block {
    width: 100px;
    height: 100px;
}


.slide-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.slide-text.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-text.visible {
    opacity: 1;
    transform: translateY(0);
}